# Dependency/Node-specific folders
node_modules
# Exclude coverage reports
coverage

# Source code that gets compiled
src

# Configuration files needed only for local dev/tooling
nest-cli.json


# Git and OS specific files
.git
.gitignore
.env # Security risk if deployed with the image, should be provided at runtime via compose/k8s
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker files themselves
Dockerfile
Dockerfile.db
docker-compose*.yml
.dockerignore